#screen {
	margin: 0px;
	padding: 0px;
	position: absolute;
	width: 1920px;
	height: 1080px;
	overflow: hidden;
}

:root {
	--motogp-race-info-bg-color: #cccccc;
	--motogp-race-info-border: 2px solid #cccccc;
	--motogp-race-info-border-radius: 3px;
	--motogp-race-info-color: 3px;
	--motogp-laps-remaining-laps-remaining-num-font-size: 26px;
	--motogp-laps-remaining-laps-remaining-txt-font-size: 22px;
}

.race-type-info {
	border-radius: var(--motogp-race-info-border-radius);
	border: var(--motogp-race-info-border);
	background-color: var(--motogp-race-info-bg-color);
	color: var(--motogp-race-info-color);
	font-size: 26px;
	text-align: center;
}

.region:empty {
	visibility: hidden;
}

#region-video {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
}

#region-leaderboard {
	position: absolute;
	top: 112px;
	left: 86px;
	width: 50%;
	bottom: 100px;
	z-index: 1;
}

#region-pip {
	position: absolute;
	right: 85px;
	top: 140px;
	width: 386px;
	height: 849px;
	z-index: 1;
}

#region-race-type-info {
	position: absolute;
	top: 56px;
	left: 86px;
	height: 32px;
	width: 136px;
	z-index: 1;
}

#region-race-laps-remaining {
	position: absolute;
	top: 56px;
	left: 230px;
	height: 32px;
	width: 176px;
	z-index: 1;
}
